footer {
    background-color: #edefee;
    background-color: #495e57;
    padding: 2rem;
    text-align: center;
    color: #edefee;
}

footer h6 {
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: underline;
    color: #495e57;
    color: #edefee;
}

footer img {
    filter: brightness(0) saturate(100%) invert(100%) grayscale(100%);
}

footer li:hover {
    text-decoration: none;
    cursor: pointer;
    color: #face14;
}

ul.social-icons li {
    display: inline;
    width: 25px;
    margin-right: 15px;
}

.social-icons svg:hover {
    color: #face14;
}